$--main-text-color: #eb5757;
$--card-bg-color: #313131;
$--header-color: #414141;
$--bg-color: #525252;
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
header {
    height: 113px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 500px 1fr 400px;
    user-select: none;
    color: black;
    grid-row: 1;
}
footer {
    grid-row: 3;
    height: 100px;
    background-color: rgba(82, 82, 82, 0.01);
    position: relative;
}

li {
    list-style: none;
}

body {
    display: grid;
    grid-template-rows: 113px 1fr 100px;
    // overflow-x: hidden;
    min-height: 100vh;
    color: white;
    background-color: black;
}
.background-zatemnenie {
    opacity: 0.2;
    position: absolute;
    top: 113px;
    z-index: 1;
    &__reviews {
        opacity: 0.5;
        position: absolute;
        top: 113px;
        z-index: 1;
    }
    & img {
        max-width: 100%;
    }
}
.menu {
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    & li {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        margin-right: 32px;
        & a {
            text-decoration: none;
            color: #484848;
        }
    }
    & ul {
        display: flex;
    }
}
.contact-info {
    width: 352px;
    height: 165px;
    background: $--header-color;
    position: absolute;
    top: 100px;
    right: 90px;
    opacity: 0;
    transition: all 0.2s ease;
    font-family: Courier Prime;
    font-size: 24px;
    color: #eb5757;
    &.active {
        top: 130px;
        opacity: 1;
    }
    & .discord-server {
        position: relative;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        &__logo {
            width: 36px;
            height: 36px;
            margin-right: 15px;
        }
        a {
            text-decoration: none;
            color: $--main-text-color;
            font-size: 32px;
        }
    }
}
.contacts {
    display: grid;
    grid-template-columns: 25px 1fr;
    padding: 25px;

    .telegram {
        text-align: center;
    }
    .discord {
        text-align: center;
    }
    #discord-logo {
        grid-column: 1;
        grid-row: 2;
    }
    #telegram-logo {
        grid-column: 1;
        grid-row: 1;
    }
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column: 1;
    text-decoration: none;

    &-img {
        width: 113px;
        height: 113px;
    }
    &-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Reggae One', cursive;
        text-decoration: none;
        color: white;
        font-size: 32px;
        cursor: pointer;
        &::after {
            content: '';
            display: block;
            background-image: url(../img/contact-downarrow.svg);
            background-size: cover;
            width: 33px;
            height: 33px;
            top: 5px;
            position: relative;
        }
    }
    h1 {
        font-family: Open Sans;
        color: #181818;
        font-weight: bold;
        font-size: 36px;
        line-height: 49px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    height: calc(100% - 100px);

    & h2 {
        font-size: 64px;
        font-family: 'Courier Prime', monospace;
    }
}

.title {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .stars {
        filter: drop-shadow(0px 0px 6px #ffd43d);
    }
}

.star {
    width: 27px;
    height: 27px;
}
.reviews-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 57px;
    text-align: center;
    &::after {
        margin-top: 25px;
        content: '';
        position: relative;
        display: block;
        width: 62px;
        height: 2px;
        background: #ffffff;
        border-radius: 63px;
    }
}

.reviews {
    z-index: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 55px;
    width: 95%;
    & .reviews-card {
        background: #2929296e;
        border: 1px solid #ececec;
        margin-right: 49px;
        margin-left: 49px;
        margin-bottom: 35px;
        box-sizing: border-box;
        box-shadow: 0px 0px 8px rgba(64, 64, 64, 0.63);
        border-radius: 24px;
        width: 489px;
        height: 214px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 17px;
        & p {
            margin: 0;
            font-family: Open Sans;

            font-weight: 300;
            font-size: 18px;
            line-height: 25px;

            color: #636363;
            & span {
                color: #3dffa2;
            }
        }
        & .reviews-card__text {
            font-family: Open Sans;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            height: 97px;
            color: #ffffff;
        }
        &__info {
            display: flex;
            justify-content: space-between;

            & .time {
                font-family: Open Sans;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 25px;
                text-decoration: underline;
                font-feature-settings: 'ss02' on;

                color: #636363;
            }
            & .review-star {
                width: 18px;
                height: 18px;
            }
        }
    }
}

.account {
    display: grid;
    grid-template-columns: 1fr 550px 1fr;
    grid-template-rows: 280px;
    background: rgba(82, 82, 82, 0.15);
    backdrop-filter: blur(22px);
    width: 1400px;
    height: 280px;
    margin-bottom: 20px;
    &-image {
        grid-column: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }
    &-info {
        padding: 25px;
        margin: auto;
        & h1 {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;

            color: #9b9b9b;
        }
        &__advantages {
            display: grid;
            grid-template-columns: repeat(3, 144px);
            grid-template-rows: repeat(2, 36px);

            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            color: white;
            #lvl {
                grid-column: 1;
                grid-row: 1;
                display: flex;

                &::before {
                    margin-right: 7px;
                    content: '';
                    background: url(../img/star.svg);
                    display: block;
                    width: 17px;
                    height: 17px;
                }
            }
            #games {
                grid-column: 2;
                grid-row: 1;
                display: flex;

                &::before {
                    margin-right: 5px;
                    content: '';
                    background: url(../img/games.svg);
                    display: block;
                    width: 18px;
                    height: 16px;
                }
            }
            #wins {
                grid-column: 3;
                grid-row: 1;
                display: flex;

                &::before {
                    margin-right: 9px;
                    content: '';
                    background: url(../img/wins.svg);
                    display: block;
                    width: 16px;
                    height: 15px;
                }
            }
            #prime {
                grid-column: 1;
                grid-row: 2;
                display: flex;

                &::before {
                    margin-right: 7px;
                    content: '';
                    background: url(../img/prime.svg);
                    display: block;
                    width: 16px;
                    height: 16px;
                }
            }
            #insurance {
                grid-column: 2;
                grid-row: 2;
                display: flex;

                &::before {
                    margin-right: 7px;
                    content: '';
                    background: url(../img/insurance.svg);
                    display: block;
                    width: 16px;
                    height: 16px;
                }
            }
            #delivery {
                grid-column: 3;
                grid-row: 2;
                display: flex;

                &::before {
                    margin-right: 8px;
                    content: '';
                    background: url(../img/deliverytime.svg);
                    display: block;
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
    &-buy {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        button {
            cursor: pointer;
            background: #eb5757;
            box-shadow: 0px 0px 11px 1px #eb5757;
            border-radius: 5px;
            width: 60%;
            height: 56px;

            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 117.68%;
            text-align: center;
            color: #ffffff;

            outline: none;
            border: 0;
            margin-bottom: 35px;
        }
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: #eb5757;
            box-shadow: 0px 0px 11px 1px #eb5757;
            border-radius: 5px;
            width: 60%;
            height: 56px;
            text-decoration: none;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 117.68%;
            text-align: center;
            color: #ffffff;
        }
    }
}

.redbox {
    background-color: #c4c4c4;
    width: 300px;
    height: 200px;
}

#details1,
#details2,
#details3,
#details4 {
    border-radius: 20px;
    max-width: 90%;
    display: none;
    box-shadow: 13px 7px 16px -7px rgba(235, 87, 87, 1);
    background-color: $--card-bg-color;
}
.details-image {
    max-width: 600px;
}

@media (max-width: 1425px) {
    .account {
        grid-template-columns: 1fr 450px 1fr;
        width: 75%;
        &-buy {
            & button {
                font-size: 18px;
            }
            & a {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 1130px) {
    .account {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        height: auto;
        width: 60%;
        &-info {
            display: none;
        }
    }
}
